<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getAboutSrc() }}" style="width:30px;height:auto;"/> {{ "ABOUT" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <div translate="BIG_ABOUT"></div>
  {{ "CURRENT_VERSION" | translate }} {{ version }}.<br/><br/>
  {{ "NB_OF_REGISTERED_USERS" | translate }} {{ nb_of_registered_users }}<br/>
  {{ "NB_OF_CONNECTED_USERS" | translate }} {{ nb_of_connected_users }}<br/>
  <div>
    <br/>
    <h2>{{ "CONTACT_US" | translate }}</h2>
    <form ng-show="UserService.getIsConnected()">
      {{ "TITLE" | translate }}
      <br/>
      <input type="text" ng-model="contact_title">
      <br/>
      {{ "MESSAGE" | translate }}
      <textarea class="form-control" rows="5" ng-model="contact_message"></textarea>
      <br/>
      <button
        mwl-confirm
        type="button"
        title="{{ 'CONFIRM' | translate }}"
        message="{{ 'ARE_YOU_SURE' | translate }}"
        confirm-text="{{ 'YES' | translate }}"
        cancel-text="{{ 'NO' | translate }}"
        confirm-button-type="danger"
        on-confirm="sendMessageToAdmin()">
        {{ "SEND" | translate }}
      </button>
    </form>
    <div ng-show="!UserService.getIsConnected()">
      {{ "LOGIN_TO_CONTACT_US" | translate }}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
