
<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getAchievementsSrc() }}" style="width:30px;height:auto;"/>  {{ "YOUR_ACHIEVEMENTS" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <div ng-repeat="achievement in achievements">
    <h2>
      {{ achievement.title }}
      (<img ng-show="achievement.current_grade >= 1 && achievement.current_grade <= 4"
            ng-src="{{ SpritesService.getAchievementSrc(achievement.current_grade) }}" style="width:30px;height:auto;"
      />{{ "GRADE" | translate }} {{ achievement.current_grade }}/4)
    </h2>
    <pre>{{ achievement.goal }}</pre>
    <span ng-show="achievement.next_reward_id >= 1 && achievement.next_reward_id <= 4">
      {{ "NEXT_REWARD" | translate }}: {{ achievement.next_reward_description }}
      ({{ achievement.current_value }}/{{ achievement.next_condition }})
    </span>
    <br/>
    <button ng-show="compareAchievementSteps(achievement.current_value, achievement.next_condition) && (achievement.next_reward_id >= 1) && (achievement.next_reward_id <= 4)"
            ng-click="upgradeAchievement(achievement.id)">
      {{ "GET_REWARD" | translate }}
    </button>
    <br/>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
