/* ---- Show text with \n or any other non html style ---- */
.show-text-from-db {
  white-space: pre-wrap;
}

/* ---- Dropdown menu with search ---- */
.custom-dropdown {
  max-height: 200px;
  overflow: auto;
}

.custom-search-control {
  padding: 5px 10px;
}
