/* ==== BODY ==== */
body {
  padding-top: 70px; /* Be sure no content is hidden by the nav bar */
}

/* ==== Show mouse hover in ng-click elements ==== */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
