body
{
  background:#16a085;
  width:100%;
  height:100%;
}

.chat_box,.chat_head,.chat_body,.chat_user,.msg_box,.msg_head,.msg_close,.msg_body,.msg_a,.msg_b,.msg_push,.msg_footer,.msg_input
{
  font-family: sans-serif;
}

.chat_box
{
  position:fixed;
  right:20px;
  bottom:0px;
  width:250px;
}

.chat_body
{
  background:white;
  height:400px;
  padding:5px 0px;
  overflow:auto;
  overflow-x:hidden;
}

.chat_head,.msg_head
{
  background:#f39c12;
  color:white;
  padding:15px;
  font-weight:bold;
  cursor:pointer;
  border-radius:5px 5px 0px 0px;
}

.msg_box
{
  position:fixed;
  bottom:-5px;
  width:250px;
  right:290px;
  background:white;
  border-radius:5px 5px 0px 0px;
}

.msg_head
{
  background:#3498db;
}

.msg_body
{
  background:white;
  height:200px;
  font-size:12px;
  padding:15px;
  overflow:auto;
  overflow-x:hidden;
}

.msg_input
{
  width:100%;
  border: 1px solid white;
  border-top:1px solid #DDDDDD;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.msg_close
{
  float:right;
  cursor:pointer;
}

.chat_user
{
  position:relative;
  padding:10px 30px;
}
.chat_user:hover
{
  background:#f8f8f8;
  cursor:pointer;
}
.chat_user:before
{
  content:'';
  position:absolute;
  background:#2ecc71;
  height:10px;
  width:10px;
  left:10px;
  top:15px;
  border-radius:6px;
}

.msg_a
{
  position:relative;
  background:#FDE4CE;
  padding:10px;
  min-height:10px;
  margin-bottom:5px;
  margin-right:10px;
  border-radius:5px;
}
.msg_a:before
{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent #FDE4CE transparent transparent;
  left:-20px;
  top:7px;
}

.msg_b
{
  background:#EEF2E7;
  padding:10px;
  min-height:15px;
  margin-bottom:5px;
  position:relative;
  margin-left:10px;
  border-radius:5px;
  word-wrap: break-word;
}
.msg_b:after
{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent transparent transparent #EEF2E7;
  right:-20px;
  top:7px;
}
