
<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getBigItemSrc(item.id) }}" on-error-src="{{ SpritesService.getItemIconSrc(item.id) }}" style="width:30px;height:auto;"/>  {{ item.name }}</h1>
</div>
<div class="modal-body text-center">
  {{ item.description }}

  <br/><br/>

  <div ng-show="item_flags">
    <h2>{{ "PROPERTIES" | translate }}</h2>
    <div ng-repeat="flag in item_flags">
      {{ flag.name }}: {{ flag.description }}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
