<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getHuntingSrc() }}" style="width:35px;height:auto;"/>
      {{ "HUNTING_POKEMONS" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <div>
    <button type="button" ng-click="openHuntingRank()">{{ "SHOW_HUNTING_RANK" | translate }}</button>
  </div>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ "NAME" | translate }}</th>
        <th>{{ "POINTS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pokemon in pokemons_to_hunt" ng-click="openPokedex(pokemon.id)">
        <td><img title="{{ pokemon.name }}"
                 style="{{ SpritesService.getStaticPokemonSprite32x32Style(pokemon.id) }}"
                 ng-src="{{ SpritesService.getBase32x32Src() }}" /> #{{ pokemon.id }}</td>
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
