<div class="text-center">
  <h2 translate="WELCOME"></h2>
  <image src="{{ SpritesService.getBannerSrc() }}" style="width:45%;height:auto;"/>
  <br/>...<br/>...blabla de présentation<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...<br/>......<br/>...<br/>...<br/>...<br/>...<br/>......<br/>...<br/>...<br/>...<br/>...<br/>...
</div>
