<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getSettingsSrc() }}" style="width:30px;height:auto;"/> {{ "SETTINGS" | translate }}</h1>
</div>
<div class="modal-body">
  <div ng-show="UserService.getIsConnected()">
      <h2 class="text-center">{{ "USER_SETTINGS" | translate }}</h2>
      {{"SHOW_TIPS" | translate }}: <toggle ng-model="show_tips" ng-change="updateShowTips()" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}"></toggle><br/>
      {{"ACCEPT_PVP_FIGHTS" | translate }}: <toggle ng-model="accept_pvp_fights" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}"></toggle><br/>
      {{"ACCEPT_NEWSLETTER" | translate }}: <toggle ng-model="accept_newsletter" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}"></toggle><br/>
      {{"AUTOMATIC_EVOLUTION" | translate }}: <toggle ng-model="automatic_evolution" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}"></toggle><br/>
      {{ "UPDATE_PASSWORD" | translate }}: <span editable-password="password" e-label="{{ 'PASSWORD' | translate }}">{{ password }}</span>
  </div>
  <br/>
  <div>
    <h2 class="text-center">{{ 'DEBUG_SETTINGS' | translate }}</h2>
    {{ "DISPLAY_DEBUG" | translate }}: <input type="checkbox" ng-model="is_debug_enabled" ng-change="MessagesService.enableDebugMessages(is_debug_enabled)"></input><br/>
    {{ "MAX_DISPLAYED_MESSAGES" | translate }}: <input type="number" min="1" max="99" ng-model="max_messages_buffer_size" ng-change="MessagesService.setMaxMessagesBufferSize(max_messages_buffer_size)"></input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
