<div class="dropdown btn-group dropdown-scroll">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownSearchableUsers">{{ 'SEARCH_USER' | translate }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu custom-dropdown" role="menu" aria-labelledby="dropdownSearchableUsers">
    <li role="presentation">
      <div role="search" class="input-group input-group-sm search-control custom-search-control">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search">
          </span>
        </span>
        <input type="text" class="form-control" placeholder="{{ 'SPECIFY_MIN_2_LETTERS' | translate }}" ng-model="search_user">
        </input>
      </div>
    </li>
    <li role="presentation" ng-repeat='user in $ctrl.StaticDataService.searchUsers(search_user) | filter:search_user'>
      <a ng-click="$ctrl.selectUser(user.id)">
        <img ng-src="{{ $ctrl.SpritesService.getLanguageSrc(user.language_code) }}" style="width:20px;height:auto;"/> {{ user.login }}
      </a>
    </li>
  </ul>
</div>
