<div class="text-center" ng-controller="UserCtrl">
  <div ng-show="!UserService.getIsConnected()">
    <form class="text-center" style="max-width:60px">
      {{ "LOGIN" | translate }}:
      <br/>
      <input class="text-center" type="text" value="test" ng-model="login" ng-init="UserService.getLogin()" ng-change="UserService.setLogin(login)" style="max-width:60px"></input>
      <br/>
      {{ "PASSWORD" | translate }}:
      <br/>
      <input class="text-center" type="password" value="testtest" ng-model="password" ng-init="UserService.getPassword()" ng-change="UserService.setPassword(password)" style="max-width:60px"></input>
      <br/>
      <button class="text-center" type="button" ng-click="connect()">{{ "CONNECT" | translate }}</button>
    </form>
  </div>
  <div ng-show="UserService.getIsConnected()">
    <b>{{ UserService.getLogin() }}</b>
    <br/>
    <div style="width:100%">
        <div style="float: left;width: 50%;" ng-click="openPublicProfile()">
          <img title="{{ 'SEE_YOUR_PUBLIC_PROFILE' | translate }}" ng-src="{{SpritesService.getUserAvatarSrc(UserService.getId()) }}" on-error-src="{{SpritesService.getFallbackUserAvatarSrc(UserService.getGenderId())}}" style="width:80px;height:auto;"/>
        </div>
        <div style="float: right;width: 50%;">
          <div ng-click="openPokedex()">
            <a title="{{ 'POKEDEX' | translate }}"><img ng-src="{{ SpritesService.getPokedexSrc() }}" style="width:40px;height:auto;"/></a>
          </div>
          <div ng-click="openBag()">
            <a title="{{ 'YOUR_BAG' | translate }}"><img ng-src="{{ SpritesService.getBagSrc() }}" style="width:40px;height:auto;"/></a>
          </div>
          <div ng-click="openNotes()">
            <a title="{{ 'YOUR_PRIVATE_NOTES' | translate }}"><img ng-src="{{ SpritesService.getNotesSrc() }}" style="width:40px;height:auto;"/></a>
          </div>
          <div ng-click="openMarket()">
            <a title="{{ 'MARKET' | translate }}"><img ng-src="{{ SpritesService.getMarketSrc() }}" style="width:40px;height:auto;"/></a>
          </div>
          <div ng-click="openCasino()">
            <a title="{{ 'CASINO' | translate }}"><img ng-src="{{ SpritesService.getCasinoSrc() }}" style="width:40px;height:auto;"/></a>
          </div>
          <div ng-click="openAchievements()">
            <a title="{{ 'YOUR_ACHIEVEMENTS' | translate }}"><img ng-src="{{ SpritesService.getAchievementsSrc() }}" style="width:40px;height:auto;"/></a>
          </div>
        </div>
      </div>

    <br/>
    <div title="{{ 'POKEDOLLAR' | translate }}">{{ UserService.getPokedollar() }} <img ng-src="{{ SpritesService.getPokedollarSrc() }}" alt="{{ 'POKEDOLLAR' | translate }}" style="width:28px;height:auto;" /></div>
    <div title="{{ 'GOLD' | translate }}">{{ UserService.getGold() }} <img ng-src="{{ SpritesService.getGoldSrc() }}" alt="{{ 'GOLD' | translate }}" style="width:28px;height:auto;" /></div>
    <div ng-click="openRank('score')">{{ 'RANK' | translate }}: {{ UserService.getRank() }}</div>
    <div ng-click="openRank('score')">{{ 'SCORE' | translate }}: {{ UserService.getScore() }}</div>
    <div ng-click="openRank('pvp_score')">{{ 'PVP_SCORE' | translate }}: {{ UserService.getPvpScore() }}</div>
    <div>{{ 'POKEMONS' | translate }}: {{ UserService.getNumberOwnedPokemons() }}/{{ UserService.getStorageSize() }}</div>
    <form>
      <button type="button" ng-click="disconnect()">{{ "DISCONNECT" | translate }}</button>
    </form>
  </div>
</div>
