<div class="modal-header text-center">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
    <h1><img ng-src="{{ SpritesService.getMarketSrc() }}" style="width:30px;height:auto;"/> {{ "MARKET" | translate }}</h1>
  </div>
  <div class="modal-body text-center">
    <!-- Buttons to show the right market -->
    <div>
      <span ng-show="market_type != 'gold_market'">
        <button ng-click="showGoldMarket()">
          {{ "GOLD_MARKET" | translate }}
        </button>
      </span>
    </div>
    <!-- Gold market -->
    <div ng-show="market_type == 'gold_market'">
      <h2>{{ "YOUR_GOLD_IN_SELL" | translate }}</h2>
      {{ "YOU_ARE_SELLING" | translate }} {{ user_gold_sell.quantity }} <img ng-src="{{ SpritesService.getGoldSrc() }}" alt="{{ 'GOLD' | translate }}" style="width:22px;height:auto;" /> ({{ "UNIT_PRICE" | translate }}: {{ user_gold_sell.price }} <img ng-src="{{ SpritesService.getPokedollarSrc() }}" alt="{{ 'POKEDOLLAR' | translate }}" style="width:22px;height:auto;" />)<br/>
      <br/>
      <input type="number" value="1" min="-10000" max="10000" ng-model="gold_to_add_or_remove"></input> <button ng-click="updateGoldInSell()">{{ "ADD_REMOVE_SELL_QUANTITY" | translate }}</button><br/>
      <input type="number" value="{{ user_gold_sell.price }}" min="0" max="50000" ng-model="gold_sell_price"></input><img ng-src="{{ SpritesService.getPokedollarSrc() }}" alt="{{ 'POKEDOLLAR' | translate }}" style="width:22px;height:auto;" /> <button ng-click="updateGoldSellPrice()">{{ "UPDATE_SELL_PRICE" | translate }}</button><br/>

      <br/>

      <h2>{{ "BUY_GOLD" | translate }}</h2>
      <table class="table">
        <thead>
          <tr>
            <th>{{ "USERNAME" | translate }}</th>
            <th>{{ "UNIT_PRICE" | translate }}</th>
            <th>{{ "QUANTITY" | translate }}</th>
            <th>{{ "ACTION" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="gold_sell in all_gold_sell">
            <td ng-click="openPublicProfile(gold_sell.user_id)">{{ gold_sell.user_name }}</td>
            <td>{{ gold_sell.price }} <img ng-src="{{ SpritesService.getPokedollarSrc() }}" alt="{{ 'POKEDOLLAR' | translate }}" style="width:22px;height:auto;" /></td>
            <td>{{ gold_sell.quantity }}</td>
            <td>
              <input type="number" value="1" min="1" max="{{ gold_sell.quantity }}" ng-model="gold_quantity"></input>
              <img ng-src="{{ SpritesService.getGoldSrc() }}" alt="{{ 'GOLD' | translate }}" style="width:22px;height:auto;" />

              <button
                mwl-confirm
                type="button"
                title="{{ 'CONFIRM' | translate }}"
                message="{{ 'ARE_YOU_SURE' | translate }}"
                confirm-text="{{ 'YES' | translate }}"
                cancel-text="{{ 'NO' | translate }}"
                confirm-button-type="default"
                on-confirm="buyGoldFromOtherUser(gold_sell.user_id, gold_quantity, gold_sell.price)">
                {{ "BUY" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
  </div>
