<div class="modal-header text-center">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
    <h1><img ng-src="{{ SpritesService.getAttackSrc() }}" style="width:30px;height:auto;"/> {{ "ATTACKS" | translate }}</h1>
  </div>
  <div class="modal-body text-center">
    <!-- Select an attack -->
    <div class="dropdown btn-group dropdown-scroll" ng-show="attacks()">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownAttackMenu">{{ 'SELECT_AN_ATTACK' | translate }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu custom-dropdown" role="menu" aria-labelledby="dropdownAttackMenu">
        <li role="presentation">
          <div role="search" class="input-group input-group-sm search-control custom-search-control">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchAttack">
            </input>
          </div>
        </li>
        <li role="presentation" ng-repeat='attack in attacks() | filter:searchAttack'>
          <a ng-click="showAttack(attack.id)">{{ attack.name }}</a>
        </li>
      </ul>
      <br/><br/>
    </div>

    <!-- Displayed attack -->
    <div ng-if="current_attack">
      <h1>{{ current_attack.name }}</h1>
      <p>
        {{ current_attack.description }}<br/>
        <br/>

        {{ 'POWER' | translate }}: {{ current_attack.power }}<br/>
        {{ 'PP' | translate }}: {{ current_attack.pp }}<br/>
        {{ 'PRIORITY' | translate }}: {{ current_attack.priority }}<br/>
        {{ 'ACCURACY' | translate }}: {{ current_attack.accuracy }}<br/>
        {{ 'CLASS' | translate }}:
        <button type="button"
                class="btn"
                ng-style="{'background-color': '#'+current_attack.class_color, 'border-radius': '4px', 'color': '#FFFFFF'}"
                title="{{ current_attack.class_description }}">
          <img ng-src="{{ SpritesService.getDamageClassSrc(current_attack.class_id) }}" />
          {{ current_attack.class_name }}
        </button><br/>
        {{ 'TYPE' | translate }}:
        <button type="button"
                class="btn"
                ng-style="{'background-color': '#'+current_attack.type_color, 'border-radius': '4px', 'color': '#FFFFFF'}"
                title="{{ current_attack.type_description }}">
          {{ current_attack.type_name }}
        </button><br/>
        {{ 'EFFECT' | translate }}: {{ current_attack.effect_description }}<br/>
        {{ 'EFFECT_CHANCE' | translate }}: {{ current_attack.effect_chance ? current_attack.effect_chance : ("NORMAL" | translate) }}<br/>

        <br/>

        <h1>{{ 'POKEMON_LEARNING_BY_LEVEL_UP' | translate }}</h1>
        <span ng-repeat="pokemon in pokemons_level_up" ng-click="openPokedex(pokemon.id)" title="{{ pokemon.name }}">
          <img ng-src="{{ SpritesService.getPokemonMediumSizeSrc(pokemon.id, false, false) }}" style="width:45px;height:auto;" />
        </span>
        <span ng-show="pokemons_level_up.length <= 0">
          {{ "NONE" | translate }}
        </span>

        <br/><br/>

        <h1>{{ 'POKEMON_LEARNING_USING_ITEM' | translate }}</h1>
        <span ng-repeat="pokemon in pokemons_item" ng-click="openPokedex(pokemon.id)" title="{{ pokemon.name }}">
          <img ng-src="{{ SpritesService.getPokemonMediumSizeSrc(pokemon.id, false, false) }}" style="width:45px;height:auto;" />
        </span>
        <span ng-show="pokemons_item.length <= 0">
          {{ "NONE" | translate }}
        </span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
  </div>
