<div class="text-center" role="contentinfo">
  <!-- Show copyright -->
  <p translate="COPYRIGHT"></p>
  <!-- Facebook Modal -->
  <div ng-click="openFacebook()" role="button" class="btn">
    <img ng-src="{{ SpritesService.getFacebookLogoSrc() }}" title="Facebook" alt="Facebook" height="40" />
  </div>
  <!-- Twitter Modal -->
  <div ng-click="openTwitter()" role="button" class="btn">
    <img ng-src="{{ SpritesService.getTwitterLogoSrc() }}" title="Twitter" alt="Twitter" height="40" />
  </div>
</div>
