<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getFacebookLogoSrc() }}" style="width:35px;height:auto;"/> {{"FACEBOOK_TITLE" | translate}}</h1>
</div>
<div class="modal-body text-center">
  {{'FOLLOW_ON_FACEBOOK' | translate }}:<br/>
  <iframe
    src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId'
    width='500'
    height='500'
    style='border:none;overflow:hidden'
    scrolling='no'
    frameborder='0'
    allowTransparency='true'>
  </iframe>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
