<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getTwitterLogoSrc() }}" style="width:35px;height:auto;"/> {{"TWITTER_TITLE" | translate }}</h1>
</div>
<div class="modal-body text-center">
  {{ 'FOLLOW_ON_TWITTER' | translate }}:<br/>
  <a class='twitter-follow-button' href='https://twitter.com/quecg2'>{{'LOADING' | translate }}</a>
  <br/><br/>
  {{'TWEETS' | translate }}:<br/>
  <a class='twitter-timeline' href='https://twitter.com/hashtag/Pokemon' data-widget-id='953722295670931457' style='width:100% !important;'>{{'LOADING' | translate }}</a>
  <script>
    // Twitter required javascript function
    !function(d,s,id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }(document, 'script', 'twitter-wjs');
  </script>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
