<div ng-controller="MessagesCtrl" style="position:relative;z-index:9999;">
  <div style="position:absolute;left:2px;right:2px;">
    <alert role="alert" ng-repeat="message in MessagesService.messages" style="opacity:0.9">
      <div class="modal-body" style="padding:0px">
        <div class="alert alert-{{ message.severity }}" style="margin-bottom:0px">
          <button type="button" class="close" ng-click="MessagesService.deleteMessage($index)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
          <strong>{{message.title}}:</strong> {{message.content}}
        </div>
      </div>
    </alert>
  </div>
</div>
