<div class="chat_box">
  <div class="chat_head" translate="CHATBOX" ng-init="initChat()" ng-show="UserService.getIsConnected()">
  </div>
  <div class="chat_body">
    <div class="chat_user" id="1">Krishna Teja</div>
    <div class="chat_user" id="2">An other user</div>
    <div class="chat_user" id="3">Woalita Karmin</div>
    <div class="chat_user" id="4">Main channel</div>
    <div class="chat_user" id="5">Note for myself</div>
    <div class="chat_user" id="6">(...1) Biiiiggggggggggggg</div>
    <div class="chat_user" id="7">(...2) Big big big big big</div>
    <div class="chat_user" id="8">(...3)</div>
    <div class="chat_user" id="9">(...4)</div>
    <div class="chat_user" id="10">(...5)</div>
    <div class="chat_user" id="11">(...6)</div>
    <div class="chat_user" id="12">(...7)</div>
    <div class="chat_user" id="13">(...8)</div>
    <div class="chat_user" id="14">(...9)</div>
    <div class="chat_user" id="15">(...10)</div>
    <div class="chat_user" id="16">(...11)</div>
    <div class="chat_user" id="17">(...12)</div>
  </div>
</div>
