<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getNotificationsSrc() }}" style="width:30px;height:auto;"/> {{ "NOTIFICATIONS" | translate }}</h1>
</div>
<div class="modal-body" class="text-center">
  <div ng-show="notifications.length == 0" class="text-center">
    {{ "NO_NOTIFICATION" | translate }}
  </div>
  <div ng-repeat="notification in notifications" class="text-center">
    <h2>{{ notification.title }}</h2>
    <small>{{ notification.date }}</small>
    <br/>
    <pre class="text-center">{{ notification.notification }}</pre>
    <br/>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
