#casino .content:nth-child(1) {
    text-align: center;
}

#casino .content > div {
    clear:both;
    width: 365px;
    margin: 0 auto;
}

.slotMachine{
	width: 27%;
	border: 5px solid #000;
	height: 100px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	background-color: #ffffff;
}

.slotMachine .slot{
	height:100px;
	background-position-x: 55%;
	background-repeat: no-repeat;
}
