<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getProfileSrc() }}" style="width:35px;height:auto;"/> {{"PUBLIC_PROFILE" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <searched-users selected-user="selected_user"></searched-users>
  <br/>
  <br/>
  <!-- For current user -->
  <button ng-show="currentUserId == UserService.getId()" ng-click="openProfileEditor()">
      {{ 'EDIT_YOUR_PROFILE' | translate }}
  </button>
  <button ng-show="currentUserId != UserService.getId()" ng-click="showPublicProfile(UserService.getId())">
      {{ 'SEE_YOUR_PUBLIC_PROFILE' | translate }}
  </button>
  <br/><br/>

  <!-- Base user info -->
  <div ng-show="user_base">
    <h2>{{ user_base.login }}</h2>

    <img title="{{ user_base.gender_name }}" ng-src="{{ SpritesService.getGenderSrc(user_base.gender_id) }}" />
    <img ng-src="{{ SpritesService.getLanguageSrc(user_base.language_code) }}" style="width:22px;height:auto;" title="{{ user_base.language_name }}"/>

    <br/>

    <img ng-src="{{SpritesService.getUserAvatarSrc(currentUserId)}}" on-error-src="{{SpritesService.getFallbackUserAvatarSrc(user_base.gender_id)}}" style="width:80px;height:auto;"/>

    <div ng-show="user_base.description">
      <br/>
      <pre>{{ user_base.description }}</pre>
    </div>

    <br/>

    <span ng-click="openRank('score')">{{ "RANK" | translate }}: {{ user_base.rank }}<br/>
                                                      {{ "SCORE" | translate }}: {{ user_base.score }} {{ "POINTS" | translate }}</span><br/>
    <span ng-click="openRank('pvp_score')">{{ "PVP_SCORE" | translate }}: {{ user_base.pvp_score }} {{ "POINTS" | translate }}</span><br/>
    <span ng-click="openRank('hunting_score')">{{ "HUNTING_SCORE" | translate }}: {{ user_base.hunting_competition_score }} {{ "POINTS" | translate }}</span><br/>
  </div>

  <br/>

  <!-- User badges -->
  <div ng-show="user_badges">
    <span ng-repeat="badge in user_badges">
      <span ng-if="badge.badge_number == 1">{{ badge.region_name }}<br/></span>
      <img ng-src="{{ SpritesService.getBadgeSrc(badge.badge_id) }}"
           title="{{ badge.badge_name}} ({{ badge.region_name }}: {{ badge.badge_number }}/8)"
           style="width:40px;height:auto;" />
      <span ng-if="badge.badge_number == 4 || badge.badge_number == 8"><br/></span>
    </span>
  </div>

  <br/>

  <div ng-show="user_grades">
    <h2>{{ "GRADES" | translate }}</h2>
    <div ng-repeat="grade in user_grades" title="{{ 'SINCE' | translate }} {{ grade.received_date }}">
      <img ng-src="{{ SpritesService.getTrophySrc() }}" style="width:20px;height:auto;" />
      {{ "POKEMON_MASTER" | translate }} {{ grade.type_name }}
      ({{ grade.number_of_pokemons }}v{{ grade.number_of_pokemons }},
       {{ "MAX_LEVEL" | translate }} {{ grade.max_pokemon_level}})
    </div>
  </div>

  <br/>

  <div ng-show="user_pokemons">
    <h2>{{ "OWNED_POKEMONS" | translate }}</h2>
    <div ng-repeat="pokemon in user_pokemons" title="{{ pokemon.nickname ? pokemon.nickname : pokemon.pokemon_name }}" ng-click="openPokedex(pokemon.pokemon_id)">
      <img ng-src="{{ SpritesService.getPokemonMediumSizeSrc(pokemon.pokemon_id, false, (pokemon.is_shiny == '1')) }}" style="width:40px;height:auto;" />
      #{{ pokemon.pokemon_id }} {{ pokemon.pokemon_name }} ({{ "LEVEL" | translate }} {{ pokemon.level }})
      <img title="{{ pokemon.gender_name }}" ng-src="{{ SpritesService.getGenderSrc(pokemon.gender_id) }}" />
      <img ng-show="pokemon.is_shiny == '1'" ng-src="{{ SpritesService.getStarSrc() }}" style="width:20px;height:auto;" title="{{ 'SHINY' | translate }}" />
    </div>
  </div>

  <br/>

  <div ng-show="user_achievements">
    <h2>{{ "ACHIEVEMENTS" | translate }}</h2>
    <div ng-repeat="achievement in user_achievements" title="{{ achievement.goal }} ({{ achievement.grade }}/4)">
      <img ng-src="{{ SpritesService.getAchievementSrc(achievement.grade) }}" style="width:20px;height:auto;" />
      {{ achievement.title }}
    </div>
  </div>

  <br/><br/>

  <button ng-show="currentUserId != UserService.getId()" ng-click="openReportUser(currentUserId, user_base.login)">
    {{ 'REPORT' | translate }}
  </button>
  <button ng-show="is_blacklisted && currentUserId != UserService.getId()" ng-click="removeUserFromBlacklist()">
    {{ "DELETE_USER_FROM_BLACKLIST" | translate }}
  </button>
  <button ng-show="!is_blacklisted && currentUserId != UserService.getId()" ng-click="blacklistUser()">
    {{ "BLACKLIST_USER" | translate }}
  </button>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
