<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1>
    <img ng-src="{{ SpritesService.getUserReportSrc() }}" style="width:35px;height:auto;"/>
    {{"REPORT" | translate }} {{ user_name }}
  </h1>
</div>
<div class="modal-body text-center">
  <div>
    {{ "REPORT_WARNING" | translate }}
  </div>

  <br/><br/>

  <form>
    {{ "TITLE" | translate }}
    <br/>
    <input type="text" ng-model="report_title">
    <br/>
    {{ "MESSAGE" | translate }}
    <textarea class="form-control" rows="5" ng-model="report_message"></textarea>
    <br/>

    <button
      mwl-confirm
      type="button"
      title="{{ 'CONFIRM' | translate }}"
      message="{{ 'ARE_YOU_SURE' | translate }}"
      confirm-text="{{ 'YES' | translate }}"
      cancel-text="{{ 'NO' | translate }}"
      confirm-button-type="danger"
      on-confirm="sendReport()">
      {{ "SEND" | translate }}
    </button>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
