<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getRankSrc() }}" style="width:35px;height:auto;"/>
      {{ show_score ? ("RANK" | translate) :
         (show_pvp_score ? ("RANK_PVP" | translate ) :
          (show_hunting_score ? ("RANK_HUNTING" | translate ) :
           "")) }}</h1>
</div>
<div class="modal-body text-center">
  {{ "CHOOSE_RANK_TYPE" | translate }}:
  <br/>
  <select ng-options="type as type.name for type in rankTypes" ng-model="rankType"></select>

  <div ng-show="show_hunting_score">
    <br/><br/>
    <button type="button" ng-click="openHuntingCompetition()">{{ "SHOW_HUNTABLE_POKEMONS" | translate }}</button>
  </div>

  <br/><br/>

  <h2>{{ "PLAYERS_NEAR_YOUR_SCORE" | translate }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>{{ "RANK" | translate }}</th>
        <th>{{ "USERNAME" | translate }}</th>
        <th>{{ "POINTS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in better_than | orderBy:'-'" ng-click="openPublicProfile(user.id)">
        <td>{{ sum(sum($index, -better_than.length), rank) }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.score }}</td>
      </tr>
      <tr>
        <td><b>{{ rank }}</b></td>
        <td><b>{{ UserService.getLogin() }}</b></td>
        <td><b>{{ show_score ? UserService.getScore() :
                   (show_pvp_score ? UserService.getPvpScore() :
                    (show_hunting_score ? UserService.getHuntingCompetitionScore() :
                     "")) }}</b></td>
      </tr>
      <tr ng-repeat="user in worse_than" ng-click="openPublicProfile(user.id)">
        <td>{{ sum(sum($index, 1), rank) }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.score }}</td>
      </tr>
    </tbody>
  </table>

  <br/><br/>

  <h2>{{ "TOP_50" | translate }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>{{ "RANK" | translate }}</th>
        <th>{{ "USERNAME" | translate }}</th>
        <th>{{ "POINTS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in top_50" ng-click="openPublicProfile(user.id)">
        <td>{{ $index + 1 }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.score }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
