<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getAvatarSrc() }}" style="width:35px;height:auto;"/> {{"EDIT_YOUR_AVATAR" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <div>
    {{ "SELECT_YOUR_IMAGE" | translate }}:
    <br/>
    <input type="file" id="fileInput" style="margin:auto;" />
  </div>
  <br/>
  <div class="cropArea" style="background:#E4E4E4;overflow: hidden;width:300px;height:300px;margin:auto;text-align:center;">
    <img-crop image="uploadedImage"
              result-image="croppedImage"
              result-image-size="100"
              result-image-format="image/png"
              result-image-quality="1.0"
              area-type="square"
              on-load-error="showErrorLoadingImage()">
    </img-crop>
  </div>
  <br/>
  <div>{{ "YOUR_POTENTIAL_AVATAR" | translate }}:</div>
  <div><img ng-src="{{ croppedImage }}" /></div>
  <button type="button" ng-click="uploadAvatar()">{{ "UPLOAD_AVATAR" | translate }}</button>
  <br/>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
