<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getProfileSrc() }}" style="width:35px;height:auto;"/> {{"YOUR_PRIVATE_PROFILE" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <b>
    <span editable-text="login" e-label="{{ 'USERNAME' | translate }}">
      {{ login }}
    </span>
  </b>
  <br/>

  <div title="{{ 'EDIT_YOUR_AVATAR' | translate }}" ng-click="openAvatarEditor()">
    <img ng-src="{{SpritesService.getUserAvatarSrc(UserService.getId())}}" on-error-src="{{SpritesService.getFallbackUserAvatarSrc(UserService.getGenderId())}}" style="width:80px;height:auto;"/>
    <div class="glyphicon glyphicon-pencil"></div>
  </div>
  <br/><br/>

  {{ "GENDER" | translate }}:
  <span editable-select="gender" buttons="no" e-ng-options="s.value as s.text for s in genders">
    <img ng-src="{{ SpritesService.getGenderSrc(gender) }}" />
  </span>
  <br/><br/>

  {{ "DESCRIPTION" | translate }}:
  <br/>
  <span editable-textarea="description" e-rows="10" e-cols="35">
    <pre>{{ description || ("ADD_A_DESCRIPTION" | translate ) }}</pre>
  </span>
  <br/><br/>

  {{ 'LOTTERY_TICKETS' | translate }}: {{ UserService.getLotteryTickets() }} {{ "TICKETS" | translate }}
  <br/><br/>

  {{ "DAYS_CONNECTED_IN_A_ROW" | translate }}: {{ UserService.getNumberDaysConnectedInARow() }}
  <br/><br/>

  {{ "SPENT_GOLD" | translate }}: {{ UserService.getSpentGold() }} <img ng-src="{{ SpritesService.getGoldSrc() }}" alt="{{ 'GOLD' | translate }}" style="width:28px;height:auto;" />
  <br/><br/>

  {{ "SPENT_POKEDOLLAR" | translate }}: {{ UserService.getSpentPokedollar() }} <img ng-src="{{ SpritesService.getPokedollarSrc() }}" alt="{{ 'POKEDOLLAR' | translate }}" style="width:28px;height:auto;" />
  <br/><br/>

  {{ "REGISTRATION_DATE" | translate }}: {{ UserService.getRegistrationDate() }}
  <br/><br/>

  <div ng-show="UserService.getReferralId() > 0" ng-click="openPublicProfile(UserService.getReferralId())">
    {{ "REFERRAL" | translate }}: {{ UserService.getReferralName() }}
    <br/><br/>
  </div>

  <div ng-show="recommendees.length > 0">
    {{ "RECOMMENDEES" | translate }}:
    <br/>
    <div ng-repeat="recommendee in recommendees" ng-click="openPublicProfile(recommendee.id)">
      {{ recommendee.login }}
    </div>
  </div>

  <br/>

  <div ng-show="blacklist.length > 0">
    {{ "BLACKLIST" | translate }}:
    <br/>
    <div ng-repeat="user in blacklist" ng-click="openPublicProfile(user.id)">
      {{ user.login }}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
