<div class="slider" ng-repeat="seq in sequences" ng-show="seq.visible">
  <span class="thumbnail" style="background: url(img/alien-jump.png) repeat;" ng-style="{'background-position': getSpriteStyle(seq.id)}"></span>
</div>