
<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getNewsSrc() }}" style="width:30px;height:auto;"/> {{ allNewsLoaded ? ( "ALL_NEWS" | translate ) : ("LAST_NEWS" | translate) }}</h1>
</div>
<div class="modal-body text-center">
  <div ng-repeat="current_news in news">
    <h3>{{ current_news.title }} ({{ current_news.date }})</h3>
    <div class="show-text-from-db">{{ current_news.body }}</div>
    <br/>
  </div>
  <button ng-show="!allNewsLoaded" type="button" ng-click="showAllNews()">{{ "SHOW_ALL_NEWS" | translate }}</button>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
