
<div class="modal-header text-center">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h1><img ng-src="{{ SpritesService.getNotesSrc() }}" style="width:30px;height:auto;"/>  {{ "YOUR_PRIVATE_NOTES" | translate }}</h1>
</div>
<div class="modal-body text-center">
  <br/>
  <span editable-textarea="notes" e-rows="25" e-cols="35">
    <pre>{{ notes || ("ADD_A_NOTE" | translate ) }}</pre>
  </span>
  <br/>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
</div>
