<div class="modal-header text-center">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
    <h1><img ng-src="{{ SpritesService.getBagSrc() }}" style="width:30px;height:auto;"/> {{ "YOUR_BAG" | translate }}</h1>
  </div>
  <div class="modal-body text-center">
    <div ng-if="items && pockets" style="display: inline-block;vertical-align:top;">
      <div ng-repeat="pocket in pockets" style="display: inline-block;margin-top: 20px;margin-right: 20px;margin-left: 20px;vertical-align:top;">
        <h2><img ng-src="{{ SpritesService.getItemPocketSrc(pocket.id, false) }}" /> {{ pocket.name }}</h2>
        <div ng-repeat="item in items" data-ng-if="item.pocket_id == pocket.id" ng-click="openItem(item.item_id)">
            <span title="{{ item.item_description }}">
              <img ng-src="{{ SpritesService.getItemIconSrc(item.item_id) }}" style="width:30px;height:auto;"/>
              {{ item.item_name }}
              ({{ item.quantity }})
            </span>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
  </div>
  

