<!DOCTYPE html>
<!--
<?php
  // Generate a random 32 int/char string value
  for ($rand_string = '', $i = 0, $z = strlen($a = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789')-1;
       $i != 32;
       $x = rand(0,$z), $rand_string .= $a{$x}, $i++);
?>
<?php echo($rand_string);?>
-->
<html ng-app="app" ng-controller="BaseCtrl">

<!--------------------------- HEAD --------------------------->
<head>
  <meta charset="utf-8" />
  <title translate="WEBSITE_TITLE"></title>
  <link rel="icon" type="image/png" ng-href="{{ SpritesService.getFavIconSrc() }}" />

  <!-- Be sure to be fully compatible with mobile device -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include external stylesheets -->
  <link rel="stylesheet" href="external/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="external/w3/4.9/css/w3.css">
  <link rel="stylesheet" href="external/angular-bootstrap-toggle/0.1.3/angular-bootstrap-toggle.min.css">
  <link rel="stylesheet" href="external/angular-xeditable/0.8.1/css/xeditable.min.css">
  <link rel="stylesheet" href="external/ng-img-crop/0.3.2/css/ng-img-crop.min.css">

  <!-- Include internal stylesheets -->
  <link rel="stylesheet" href="style/style.css" />
</head>

<!--------------------------- BODY --------------------------->
<body>
<!-- Menu -->
<div ng-controller="MenuCtrl" ng-include="menuHtmlTemplateUrl">
</div>

<div class="w3-sidebar w3-bar-block" style="width:150px">
  <!-- User information -->
  <div ng-include="userHtmlTemplateUrl">
  </div>
</div>

<div style="margin-left:150px">
<div class="w3-container">
  <!-- Message box (to report error for example) -->
  <div ng-include="messagesHtmlTemplateUrl">
  </div>

  <!-- Main view to have a Single page application -->
  <ng-view></ng-view>

  <br/><br/>

  <!-- Credits -->
  <div ng-controller="CreditsCtrl" ng-include="creditsHtmlTemplateUrl">
  </div>
</div>

<!-- Chat (demo, elements should not be hardfixed) -->
<div ng-controller="ChatCtrl" ng-include="chatHtmlTemplateUrl">
</div>

<!-- Include external libraries-->
<script src="external/jquery/3.2.1/jquery.min.js"></script>
<script src="external/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="external/angular/1.6.8/angular.min.js"></script>
<script src="external/angular/1.6.8/angular-route.min.js"></script>
<script src="external/angular/1.6.8/angular-sanitize.min.js"></script>
<script src="external/angular-translate/2.17.0/angular-translate.min.js"></script>
<script src="external/angular-css/1.0.8/angular-css.min.js"></script>
<script src="external/angular-bootstrap-toggle/0.1.3/angular-bootstrap-toggle.min.js"></script>
<script src="external/angular/1.6.8/angular-animate.min.js"></script>
<script src="external/angular/1.6.8/angular-touch.min.js"></script>
<script src="external/ui-bootstrap-tpls/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="external/angular-xeditable/0.8.1/js/xeditable.min.js"></script>
<script src="external/ng-img-crop/0.3.2/js/ng-img-crop.min.js"></script>
<script src="external/angular-bootstrap-confirm/2.5.1_modified/angular-bootstrap-confirm.min.js"></script>
<script src="external/jquery-slotmachine/3.0.1/js/jquery.slotmachine.min.js"></script>

<!-- Include base internal library -->
<script src="app.js"></script>

<!-- Include directives -->
<script src="directives/error.directive.js"></script>

<!-- Include filters -->
<!-- <script src="filters/random-src.filter.js"></script> -->

<!-- Include services -->
<script src="services/public_api.service.js"></script>
<script src="services/messages.service.js"></script>
<script src="services/user.service.js"></script>
<script src="services/static_data.service.js"></script>
<script src="services/sprites.service.js"></script>
<script src="services/sounds.service.js"></script>

<!-- Include components -->
<script src="components/searched_users/searched_users.component.js"></script>

<!-- Include internal libraries -->
<script src="controllers/basicModal/basic.modal.controller.js"></script>
<script src="controllers/messages/messages.controller.js"></script>
<script src="controllers/menu/menu.controller.js"></script>
<script src="controllers/credits/credits.controller.js"></script>
<script src="controllers/welcome/welcome.controller.js"></script>
<script src="controllers/about/about.controller.js"></script>
<script src="controllers/news/news.controller.js"></script>
<script src="controllers/chat/chat.controller.js"></script>
<script src="controllers/pokedex/pokedex.controller.js"></script>
<script src="controllers/user/user.controller.js"></script>
<script src="controllers/settings/settings.controller.js"></script>
<script src="controllers/profile/profile.controller.js"></script>
<script src="controllers/public_profile/public_profile.controller.js"></script>
<script src="controllers/notes/notes.controller.js"></script>
<script src="controllers/rank/rank.controller.js"></script>
<script src="controllers/hunting_competition/hunting_competition.controller.js"></script>
<script src="controllers/bag/bag.controller.js"></script>
<script src="controllers/item/item.controller.js"></script>
<script src="controllers/market/market.controller.js"></script>
<script src="controllers/notifications/notifications.controller.js"></script>
<script src="controllers/attacks/attacks.controller.js"></script>
<script src="controllers/achievements/achievements.controller.js"></script>
<script src="controllers/casino/casino.controller.js"></script>

<!-- Include internal translation provider (at the end) -->
<script src="controllers/base/base.controller.js"></script>

</body>
</html>
