.navbar-brand>img {
  max-height: 100%;
  height: 46px;
  width: auto;
  margin: 0 auto;

  /* probably not needed anymore, but doesn't hurt */
  -o-object-fit: contain;
  object-fit: contain;
}

.navbar-inner {
  min-height: 0px;
}

.navbar-brand, .navbar-nav li a {
  line-height: 50px;
  height: 50px;
  padding-bottom: 2px;
  padding-top: 2px;
}
