<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#!/home">
            <img ng-src="{{ SpritesService.getLogoSrc() }}" alt="Logo" title="Logo"/>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="UserService.getIsConnected()">
              <a ng-click="openNotifications()">
                <img ng-show="UserService.getNotificationCount() > 0" ng-src="{{ SpritesService.getNotificationsSrc() }}" style="width:22px;height:auto;"/>
                <img ng-show="UserService.getNotificationCount() <= 0" ng-src="{{ SpritesService.getNoNotificationSrc() }}" style="width:22px;height:auto;"/>
                <span ng-style="{'font-weight': (UserService.getNotificationCount() > 0) ? 'bold' : 'normal'}">{{ 'NOTIFICATIONS' | translate }} ({{ UserService.getNotificationCount() }})</span>
              </a>
            </li>
            <li>
              <a ng-click="openNews()">
                <img ng-src="{{ SpritesService.getNewsSrc() }}" style="width:22px;height:auto;"/>
                <span ng-style="{'font-weight': (UserService.getNumberOfUnseenNews() > 0) ? 'bold' : 'normal'}">{{ 'NEWS' | translate }}<span ng-show="UserService.getIsConnected()"> ({{ UserService.getNumberOfUnseenNews() }})</span></span>
              </a>
            </li>
            <li><a ng-click="openAbout()"><img ng-src="{{ SpritesService.getAboutSrc() }}" style="width:22px;height:auto;"/> {{ 'ABOUT' | translate }}</a></li>
            <li><a ng-click="openSettings()"><img ng-src="{{ SpritesService.getSettingsSrc() }}" style="width:22px;height:auto;"/> {{ 'SETTINGS' | translate }}</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ "LANGUAGES" | translate }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a role="button" ng-click="UserService.setLanguage('FR')"><img ng-src="{{ SpritesService.getLanguageSrc('FR') }}" style="width:22px;height:auto;"/> Français</a></li>
                <li><a role="button" ng-click="UserService.setLanguage('EN')"><img ng-src="{{ SpritesService.getLanguageSrc('EN') }}" style="width:22px;height:auto;"/> English</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
