/* ---- Type icons ---- */
.type-fx-icon {
  display: inline-block;
  border: 1px solid #ececec;
  color:#dddd66;
  font-size:11px;
  width:32px;
  height:32px;
  line-height:32px;
  text-align:center;
}

.type-fx-0 {
  background-color: #2e3436;
}

.type-fx-50 {
  background-color: #a40000;
}

.type-fx-100 {
  background-color: #ffffff;
}

.type-fx-200 {
  background-color:#4e9a06;
}
