<link rel="stylesheet" href="controllers/pokedex/pokedex.css">
<link rel="stylesheet" href="style/common.css">

<div class="modal-header text-center">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
    <h1><img ng-src="{{ SpritesService.getPokedexSrc() }}" style="width:30px;height:auto;"/> {{ "POKEDEX" | translate }}</h1>
  </div>
  <div class="modal-body text-center">
      <!-- Select a pokemon -->
      <div class="dropdown btn-group dropdown-scroll" ng-show="full_pokedex">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownPokemonMenu">{{ 'SELECT_A_POKEMON' | translate }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu custom-dropdown" role="menu" aria-labelledby="dropdownPokemonMenu">
          <li role="presentation">
            <div role="search" class="input-group input-group-sm search-control custom-search-control">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
              <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchPokemon">
              </input>
            </div>
          </li>
          <li role="presentation" ng-repeat='pokemon in pokemons | filter:searchPokemon'>
            <a ng-click="showPokemon(pokemon.id)">
              <img style="{{ getStaticPokemonSprite32x32Style(pokemon.id) }}" ng-src="{{ base32x32Src }}" />
              {{ pokemon.id }} - {{pokemon.name}}
        <img ng-if="pokemon.is_normal_owned == '1'" ng-src="{{ capturedNormalPokemonSrc }}" title="{{ 'NORMAL_CAPTURED' | translate }}" />
        <img ng-if="pokemon.is_shiny_owned == '1'" ng-src="{{ capturedShinyPokemonSrc }}" title="{{ 'SHINY_CAPTURED' | translate }}" />
            </a>
          </li>
        </ul>

        <br/><br/>
      </div>

      <!-- Diplay the number of captured pokemons of no pokemon selected -->
      <div ng-if="current_pokemon == null && full_pokedex">
          {{ "DIFFERENT_CAPTURED_NORMAL_1" | translate }}  {{ different_normal }} {{ "DIFFERENT_CAPTURED_NORMAL_2" | translate }}
          <br/>
          {{ "DIFFERENT_CAPTURED_SHINY_1" | translate }}  {{ different_shiny }} {{ "DIFFERENT_CAPTURED_SHINY_2" | translate }}
      </div>
    
      <!-- Displayed pokemon -->
      <div ng-if="current_pokemon != null">
        <!-- Previous and next pokemon -->
        <div class="btn-group" ng-show="full_pokedex">
          <button type="button" class="btn" ng-repeat="pokemon in pokemons | filter:isPreviousPokemon" ng-click="showPokemon(pokemon.id)">
            <span class="glyphicon glyphicon-menu-left"></span>
            <img style="{{ getStaticPokemonSprite32x32Style(pokemon.id) }}" ng-src="{{ base32x32Src }}" /> #{{ pokemon.id }} {{pokemon.name}}
          </button>
          <button type="button" class="btn" ng-repeat="pokemon in pokemons | filter:isNextPokemon" ng-click="showPokemon(pokemon.id)">
            #{{ pokemon.id }} {{pokemon.name}} <img style="{{ getStaticPokemonSprite32x32Style(pokemon.id) }}" ng-src="{{ base32x32Src }}" />
            <span class="glyphicon glyphicon-menu-right"></span>
          </button>
        </div>

        <!-- Current pokemon informations -->
        <h1>{{ current_pokemon.name }} ({{ 'POKEDEX_NUMBER' | translate }} {{ current_pokemon.id }})</h1>
        <img ng-src="{{ getAnimatedPokemonSrc(current_pokemon.id, false, false) }}" />
        <img ng-src="{{ getAnimatedPokemonSrc(current_pokemon.id, true, false) }}" />
        <img ng-src="{{ getAnimatedPokemonSrc(current_pokemon.id, false, true) }}" />
        <img ng-src="{{ getAnimatedPokemonSrc(current_pokemon.id, true, true) }}" />
        <p>
          {{ current_pokemon.description }}<br/>
          <div ng-show="current_pokemon.is_legendary == true">
            {{ 'IS_LEGENDARY' | translate }}
            <br/>
          </div>
          <br/>
    
          <!-- Parent and evolutions -->
          <div ng-show="evolution_pokemons.length" class="text-center" style="display:inline-block;">
          <table style="text-align:center;width:320px;">
              <tbody>
                <tr>
                  <th colspan="2"> {{ "FAMILLY_EVOLUTION_OF" | translate }} {{ current_pokemon.name }}
                  </th>
                </tr>
                <!-- Parent pokemon -->
                <!--
                <div ng-if="parent_pokemon_length">
                  <tr title="{{ parent_pokemon.description }}" ng-click="showPokemon(parent_pokemon.id)">
                    <td colspan="2">
                      <a><img ng-src="{{ getAnimatedPokemonSrc(parent_pokemon.id, false, false) }}" /></a>
                      <br>
                      {{ parent_pokemon.name }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:center; color:black;">
                      <small>▼</small>
                    </td>
                  </tr>
                </div>
                -->
                <!-- Current pokemon -->
                <tr title="{{ current_pokemon.description }}">
                  <td colspan="2" style="text-align:center; color:black;">
                    <a><img ng-src="{{ getAnimatedPokemonSrc(current_pokemon.id, false, false) }}" /></a>
                    <br>
                    {{ current_pokemon.name }}
                  </td>
                </tr>
                <!-- Next pokemons -->
          <div ng-if="evolution_pokemons.length">
                  <tr>
                    <td style="text-align:center; color:black;" ng-repeat="pokemon in evolution_pokemons">
                      <small>{{ getReadableRequirementForEvolution(pokemon) }} ▼</small>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align:center; color:black;" ng-repeat="pokemon in evolution_pokemons" title="{{ pokemon.pokemon_descrition }}" ng-click="showPokemon(pokemon.pokemon_id)">
                      <a><img ng-src="{{ getAnimatedPokemonSrc(pokemon.pokemon_id, false, false) }}" /></a>
                      <br>
                      <a>{{ pokemon.pokemon_name }}</a>
                    </td>
                  </tr>
                </div>
              </tbody>
            </table>
            <br/>
          </div>

          <br/>

          {{ 'GENDER' | translate }}:<br/>
          <div ng-show="current_pokemon.has_gender == true">
            <img ng-src="{{ maleGenderSrc }}" />
            <img ng-src="{{ femaleGenderSrc }}" />
          </div>
          <div ng-show="current_pokemon.has_gender == false">
            <img ng-src="{{ noGenderSrc }}" />
          </div>
          <br/><br/>
    
          {{ 'FOOTPRINT' | translate }}:<br/>
          <img ng-src="{{ getFootprintSrc(current_pokemon.id) }}" /><br/><br/>
    
          {{ 'SHAPE' | translate }}:<br/>
          {{ current_pokemon.shape_name }}: {{ current_pokemon.shape_description }}<br/>
          <img ng-src="{{ getShapeSrc(current_pokemon.shape_id) }}" /><br/><br/>
    
          <div ng-show="current_pokemon.habitat_id != null">
            {{ 'HABITAT' | translate }}:<br/>
            {{ current_pokemon.habitat_name }}<br/>
            <img ng-src="{{ getHabitatSrc(current_pokemon.habitat_id) }}" /><br/><br/>
          </div>
    
          {{ 'CRY' | translate }}:<br/>
          <audio ng-src="{{ getPokemonCrySrc(current_pokemon.id) }}" controls="controls">
          {{ 'AUDIO_NOT_SUPPORTED' | translate }}
          </audio><br/><br/>
    
          {{ 'COLOR' | translate }}:<br/>
          <div style="text-align:center;width:100%" title="{{ current_pokemon.color_name }}">
            <div style="background-color:#{{current_pokemon.color_hex}};height:25px;width:50px;border-radius:2px;display:table;margin: 0 auto;"></div>
          </div>
          <br/>
    
          {{ 'HEIGHT' | translate }}:<br/>
          {{ current_pokemon.height / 10 }}m<br/><br/>
    
          {{ 'WEIGHT' | translate }}:<br/>
          {{ current_pokemon.weight / 10 }} kg<br/><br/>
    
          {{ 'CAPTURE_RATE' | translate }}:<br/>
          {{ current_pokemon.capture_rate }}<br/><br/>
    
          {{ 'BASE_HAPPINESS' | translate }}:<br/>
          {{ current_pokemon.base_happiness }}<br/><br/>
    
          {{ 'BASE_HP' | translate }}:<br/>
          {{ current_pokemon.base_hp }}<br/><br/>
    
          {{ 'BASE_ATTACK' | translate }}:<br/>
          {{ current_pokemon.base_attack }}<br/><br/>
    
          {{ 'BASE_DEFENSE' | translate }}:<br/>
          {{ current_pokemon.base_defense }}<br/><br/>
    
          {{ 'BASE_SPEED' | translate }}:<br/>
          {{ current_pokemon.base_speed }}<br/><br/>
    
          {{ 'BASE_SPECIAL_ATTACK' | translate }}:<br/>
          {{ current_pokemon.base_special_attack }}<br/><br/>
    
          {{ 'BASE_SPECIAL_DEFENSE' | translate }}:<br/>
          {{ current_pokemon.base_special_defense }}<br/><br/>
    
          <br/><br/>
    
          <div>
            <div style="display: inline-block;">
              <h2>{{ 'LEARNABLE_ATTACKS_LVL_UP' | translate }}</h2>
              <table class="table table-striped text-center" style="max-width:250px;margin-left: auto;margin-right: auto;">
                <thead>
                  <tr>
                    <th>{{ 'REQUIRED_LEVEL' | translate }}</th>
                    <th>{{ 'ATTACK_NAME' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='attack in learnable_attacks_with_level_up' title="{{ attack.description }}" ng-click="openAttack(attack.id)">
                    <td>{{ attack.required_pokemon_level }}</td>
                    <td>{{ attack.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="display: inline-block;">
              <h2>{{ 'LEARNABLE_ATTACKS_ITEM' | translate }}</h2>
              <table class="table table-striped text-center" style="max-width:250px;margin-left: auto;margin-right: auto;">
                <thead>
                  <tr>
                    <th>{{ 'ITEM_NAME' | translate }}</th>
                    <th>{{ 'ATTACK_NAME' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='attack in learnable_attacks_with_item' ng-click="openAttack(attack.attack_id)">
                    <td title="{{ attack.item_description }}">{{ attack.item_name }}</td>
                    <td title="{{ attack.attack_description }}">{{ attack.attack_name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <div ng-if="current_type_1 != null" style="display: inline-block;">
              {{ 'TYPE_1' | translate }}:
              <button type="button" class="btn" ng-style="{'background-color': '#'+current_type_1.color, 'border-radius': '4px', 'color': '#FFFFFF'}" title="{{ current_type_1.description }}">{{current_type_1.name}}</button><br/>
              <table class="table" style="max-width: 200px;" align="center">
                <thead>
                  <tr>
                    <th>{{ 'TYPE' | translate }}</th>
                    <th>{{ 'MULTIPLICATOR_DEFENDING' | translate }}</th>
                    <th>{{ 'MULTIPLICATOR_ATTACKING' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="type_from in current_type_1.strengths_from" title="{{ type_from.description }}">
                    <td><button type="button" class="btn btn-block" ng-style="{'background-color': '#'+type_from.color, 'border-radius': '4px', 'color': '#FFFFFF'}">{{type_from.name}}</button></td>
                    <td><div ng-class="{'type-fx-icon':true,'type-fx-0':type_from.strength_multiplicator==0,'type-fx-50':type_from.strength_multiplicator==0.5,'type-fx-100':type_from.strength_multiplicator==1,'type-fx-200':type_from.strength_multiplicator==2}">{{ type_from.strength_multiplicator != 1 ? type_from.strength_multiplicator : "" }}</div></td>
                    <td ng-repeat="type_to in current_type_1.strengths_to | filter:{victim_type: type_from.attacker_type}:true"><div ng-class="{'type-fx-icon':true,'type-fx-0':type_to.strength_multiplicator==0,'type-fx-50':type_to.strength_multiplicator==0.5,'type-fx-100':type_to.strength_multiplicator==1,'type-fx-200':type_to.strength_multiplicator==2}">{{ type_to.strength_multiplicator != 1 ? type_to.strength_multiplicator : "" }}</div></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-if="current_type_2 != null" style="display: inline-block;">
              {{ 'TYPE_2' | translate }}:
              <button type="button" class="btn" ng-style="{'background-color': '#'+current_type_2.color, 'border-radius': '4px', 'color': '#FFFFFF'}" title="{{ current_type_2.description }}">{{current_type_2.name}}</button><br/>
              <table class="table" style="max-width: 200px;" align="center">
                <thead>
                  <tr>
                    <th>{{ 'TYPE' | translate }}</th>
                    <th>{{ 'MULTIPLICATOR_DEFENDING' | translate }}</th>
                    <th>{{ 'MULTIPLICATOR_ATTACKING' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="type_from in current_type_2.strengths_from" title="{{ type_from.description }}">
                    <td><button type="button" class="btn btn-block" ng-style="{'background-color': '#'+type_from.color, 'border-radius': '4px', 'color': '#FFFFFF'}">{{type_from.name}}</button></td>
                    <td><div ng-class="{'type-fx-icon':true,'type-fx-0':type_from.strength_multiplicator==0,'type-fx-50':type_from.strength_multiplicator==0.5,'type-fx-100':type_from.strength_multiplicator==1,'type-fx-200':type_from.strength_multiplicator==2}">{{ type_from.strength_multiplicator != 1 ? type_from.strength_multiplicator : "" }}</div></td>
                    <td ng-repeat="type_to in current_type_2.strengths_to | filter:{victim_type: type_from.attacker_type}:true"><div ng-class="{'type-fx-icon':true,'type-fx-0':type_to.strength_multiplicator==0,'type-fx-50':type_to.strength_multiplicator==0.5,'type-fx-100':type_to.strength_multiplicator==1,'type-fx-200':type_to.strength_multiplicator==2}">{{ type_to.strength_multiplicator != 1 ? type_to.strength_multiplicator : "" }}</div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{ "CLOSE" | translate }}</button>
  </div>
  

